#attended-hackathons {
    background-color: #cccccc;
    padding: 8px;
}

.centered-vertical-layout {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}

.centered-vertical-layout>* {
    margin: 4px 0;
}

.logo {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
    margin-right: 8px;
}

.touch-script-logo {
    background-color: #2B2B2B;
    color: #CC7832;
    font-size: 60px;
    font-family: monospace;
}

.flinger-logo {
    background-color: #00658c;
    color: #ffff00;
    font-family: sans-serif;
    font-size: 25px;
}

.swd-logo {
    background-color: #2B2B2B;
    color: white;
    font-family: monospace;
    font-size: 50px;
}

.guessing-game-logo {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 45px;
}

.java-homework-logo {
    background-color: #2B2B2B;
    color: white;
    font-size: 35px;
    font-family: monospace;
}

.project-listing {
    margin: 8px 0;
}

.project-listing>a {
    text-decoration: none;
}

.project-listing>p {
    margin: 0;
    padding: 8px;
    background-color: #cccccc;
    flex-grow: 1;
    align-self: stretch;
    min-height: 84px;
}