:root {
  --line-height: 40px;
}

body {
	margin: 0px;
	font-size: 16px;
	background-color: #2B2B2B;
	color: white;
}

.row {
	display: flex;
	height: var(--line-height);
	
	box-sizing: border-box;
	overflow: scroll;
	white-space: nowrap;
}

.item {
  padding: 0 4px;
  margin: 0px;
  box-sizing: border-box;
  background: Transparent no-repeat;
  border: none;
  /* outline:none; */ /* Disables the outline around the items */
  
  color: white;
  white-space: nowrap;
}

/* This class is applied to the last item in a row.  This item simply exposes the background of the div */
.append-button {
  flex: 1 0 var(--line-height);
  height: var(--line-height);
  margin: 0px;
  border: none;
  box-sizing: border-box;
  
  order: 999;
  
	/* Draw a big "+" at the end of row */
	background: url(ic_add_white_24px.svg) no-repeat right center;
}

.indentation {
  flex-shrink: 0;
  height: var(--line-height);
  margin: 0px;
  padding: 0;
  border: none;
  background-color: #333333;
}

.keyword {
  color: #CC7832;
}

.number {
  color: #6897BB;
}

.string {
  color: #A5C25C;
}

.comment {
  color: #808080;
}

.method-declaration {
  color: #FFC66D;
}

.method-call {
  color: #A9B7C6;
}

#debug {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: gray;
	padding: 4px;
	margin: 0px;
}

#run_button {
	background-color: #AAAAAA;
	font-family: Monospace;
	font-size: 32px;
	text-decoration: none;
	text-align: center; /* horizontal centering */
	line-height: 50px;

	border: none;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	box-sizing: border-box;

	position: fixed;
	bottom: 10px;
	right: 10px;
}

#run_button:link, #run_button:visited {
	
}

#run_button:hover, #run_button:active {
	background-color: #888888;
}

/* I set this so the Canvas does not cause scroll bars to appear*/
/* I still manually modify the resolution on onresize() */
canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}