:root {
  --line-height: 40px;
  user-select: none;
}

/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
    display: none;
}

body {
	margin: 0px;
	font-size: 16px;
	background-color: #2B2B2B;
	color: white;
}

.outer-row {
  height: var(--line-height);
  overflow: hidden;
}

.inner-row {
  overflow-x: scroll;
  overflow-y: hidden;
}

table {
  width: 100%;
  height: var(--line-height);
  white-space: nowrap;
  border-width: 0;
  border-collapse: collapse;
}

/* Desktop Firefox, mobile Firefox (not Firefox Focus), Samsung Browser (oddly) */
@-moz-document url-prefix() {
  .inner-row {
    height: calc(30px + var(--line-height));
  }
}

.hidden-select {
  width: 100%;
  height: var(--line-height);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

option {
  background-color: gray;
  color: white;
}

/* The append button has a minimum size, but grows to fill remaining space. */
.append {
  position: relative;
  min-width: var(--line-height);
  margin: 0px;
  border: none;
  box-sizing: border-box;
  background: url(ic_subdirectory_arrow_left_white_24px.svg) no-repeat center right;
}

.indentation {
  width: 0.001px; /* Webkit treats a width of 0 as a request to fill remaining space */
  padding: 0;
  border: 0;
  border-color: #444;
  border-style: solid;
  box-sizing: border-box;
}

.item, .dropdown {
  text-align: center;
  vertical-align: middle;
  width: 0.0001px;
  padding: 0 4px;
  color: white;
}

.dropdown {
  position: relative;
}

.item {
  cursor: default;
}

.global-var {
  color: #9876AA;
}

.class {
  color: #A9B7C6;
}

.keyword, .keyword-default::first-line, .keyword-call::first-line, .keyword-def::first-line {
  color: #CC7832;
}

.number {
  color: #6897BB;
}

.string {
  color: #A5C25C;
}

.comment {
  color: #808080;
}

.method-definition, .keyword-def {
  color: #FFC66D;
}

.method-call, .keyword-call {
  color: #A9B7C6;
}

.error {
  color: red;
}

#debug {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: gray;
	padding: 4px;
	margin: 0px;
	z-index: 1;
}

#run_button {
	background-color: #AAAAAA;
	font-family: Monospace;
	font-size: 32px;
	text-decoration: none;
	text-align: center; /* horizontal centering */
	line-height: 50px;
	color: white;

	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-sizing: border-box;

	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}

#run_button:hover, #run_button:active {
	background-color: #888888;
}

/* I set this so the Canvas does not cause scroll bars to appear*/
/* I still manually modify the resolution in onresize() */
canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}