body {
	background-color: black;
	margin: 0px;
}

#console_output {
	color: white;
	padding: 0px 10px 40px 10px;
	font-family: Monospace;
	font-size: 20px;
}

input {
	background-color: #333333;
	color: white;
	font-family: Monospace;
	
	width: 100%;
	border: none;
	padding: 10px;
	box-sizing: border-box;
	border: 10px solid black;
	
	position: fixed;
	bottom: 0px;
	font-size: 20px;
}
